# Configuration file for fw_(printenv/setenv) utility.
# Up to two entries are valid, in this case the redundant
# environment sector is assumed present.
# Device offset must be prefixed with 0x to be parsed as a hexadecimal value.
# On a block device a negative offset is treated as a backwards offset from the
# end of the device/partition, rather than a forwards offset from the start.

# Colibri iMX6/Apalis iMX6
# U-Boot environment is stored at the end of the first eMMC boot partition
# hence use a negative value. The environment is just in front of the config
# block which occupies the last sector (hence -0x200)
# Note that /dev/mmcblk0boot0 by default is read only
# To use fw_setenv you have to first make it writeable, on the cmdline e.g. by
# $ echo 0 > /sys/block/mmcblk0boot0/force_ro

# Block device name	Device offset	Env. size
/dev/mmcblk0boot0	-0x2200		0x2000
